body{
    /* background-color: red; */
}

 /* Navigation */

#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 14px;
    padding-bottom: 8px;
}
 /* Home Section */
#home{
    height: 390px;
    flex-direction: column;
    padding: 16px 29px;
}
#home::before{
    height: 510px;
    
}

#home p{
    font-size: 13px;
}

/* Services Section */
#services{
    flex-direction: column;
}
#services .box{
 
}


/* Client Section */

#clients{
    flex-wrap: wrap;
  
}

#client img{
    height: auto;
    width: 66px;
    padding: 6px;
}

    #clients-section{
        height: 500px;
}

/* Contact us Section */


/* footer */



/* Utility Classes */
.h-primary{
    font-size: 46px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}